@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
    display : block ;
}

*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width: 640px) {
  .bestseller a.active {
    background-color: black;
    color: white;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}




